body {
  background-color: #494949; }

.headerBIG {
  margin-top: 20px; }

.headerSMALL {
  margin-top: 0; }

nav {
  background-color: #e0d4be;
  height: 36px;
  padding-top: 2px; }

footer {
  background-color: #e0d4be;
  height: 36px;
  padding-top: 2px; }

.copyright {
  line-height: 30px;
  margin-left: 20px;
  color: #333;
  font-family: "Source Sans Pro";
  font-size: 1.00em; }

.afterfooter {
  height: 50px;
  background-color: white; }

.OrangeBorders {
  width: 100%;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange; }

nav ul {
  margin: auto;
  width: 520px; }

nav ul li {
  text-decoration: none;
  display: inline; }

nav ul li a {
  display: inline-block;
  padding-left: 25px;
  padding-right: 32px;
  line-height: 32px;
  color: #333;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 1.05em; }

.content {
  background-color: white;
  min-height: 400px; }

i {
  color: black; }

#AddkatKnap {
  height: 35px !important;
  width: 100% !important; }

table {
  margin-left: 50px;
  margin-bottom: 50px; }

table th {
  text-align: left; }

h2 {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px; }

.katTable {
  width: 80% !important;
  margin-left: 50px; }

