@using NikonRepo
@model List<NikonRepo.Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row collapse">
    <div class="small-12 columns">
        @RenderPage("~/Views/Shared/Slider.cshtml")
    </div>
</div>
<div class="row noMarPad">
    @foreach (Kategori kat in Model)
    {
        <div class="large-3 medium-6 small-12 columns">
            <a href="/Home/Produkter/@kat.ID" class="forsidekategori">
                <div class="forsidekategoriimage">
                    <img src="~/content/Images/KategoriBilleder/@kat.Billede" />
                </div>
                <div class="KatDescription">
                    <h3>@kat.KategoriNavn</h3>
                    <div>@kat.Tekst.Replace(Environment.NewLine, "<br/>")</div>
                </div>
            </a>
        </div>

    }

</div>