@using NikonRepo
@model List<NikonRepo.Produkter>

    @{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    }

    <h2>Index</h2>


        <a href="/Admin/CMSPro/Addpro/">Opret produkt</a>
                <table>
                   @foreach (Produkter pro in Model)
                   {
                       <tr><td>@pro.ID</td><td>@pro.Varenummer</td><td>@pro.Navn</td><td>@pro.Lagerantal</td><td><a href="/Admin/CMSPro/Rediger/@pro.ID">R</a></td><td><a href="/Admin/CMSPro/Delete/@pro.ID">D</a></td></tr>
                   }
               </table>