@using NikonRepo
@using NikonRepo.Factories
@model List<NikonRepo.Kategori>

@{
    ViewBag.Title = "Kategorier";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategorier</h2>


               <table>
                   @foreach (Kategori kat in Model)
                   {

                       <tr><td>@kat.ID</td><td>@kat.KategoriNavn</td><td>@kat.Tekst</td><td>@kat.Billede</td><td><i class="icon-edit"></i></td><td><i class="fa fa-remove"></i></td></tr>

                   }

               </table>

