<div class="SliderContainer margin-bottom">
    <div class="cutter">
        <div class="slidernav">
            <div class="leftarrow" onclick="slide('left')">
                <div class="arrow"><</div>
            </div>
            <div class="rightarrow" onclick="slide('right')">
                <div class="arrow">></div>
            </div>
            <div class="progress">
                <div onclick="circleslidenav(0)" class="roundicon"></div>
                <div onclick="circleslidenav(1)" class="roundicon"></div>
                <div onclick="circleslidenav(2)" class="roundicon"></div>

            </div>
        </div>
        <div class="slides">
            <div class="slide" style="background: url('/content/Images/SliderBilleder/Banner01.jpg') no-repeat;">
            </div>
            <div class="slide" style="background: url('/content/Images/SliderBilleder/Banner02.jpg') no-repeat;">
            </div>
            <div class="slide" style="background: url('/content/Images/SliderBilleder/Banner03.jpg') no-repeat;">
            </div>

        </div>
    </div>
</div>