@using System.Text
@using NikonRepo
@using NikonRepo.Factories
@{
    facSlider fslider = new facSlider();
    StringBuilder dots = new StringBuilder();
    StringBuilder slides = new StringBuilder();
    int counter = -1;
    foreach (Slider slide in fslider.GetAll())
    {
        counter++;
        dots.AppendFormat("<div onclick=\"circleslidenav({0})\" class=\"roundicon\"></div>", counter);
        slides.AppendFormat("<div class=\"slide\" style=\"background:url(\'/content/Images/SliderBilleder/{0}\') no-repeat;\"></div>",slide.Img);
    }
}
<div class="SliderContainer margin-bottom">
    <div class="cutter">
        <div class="slidernav">
            <div class="leftarrow" onclick="slide('left')">
                <div class="arrow"><</div>
            </div>
            <div class="rightarrow" onclick="slide('right')">
                <div class="arrow">></div>
            </div>
            <div class="progress">
                @Html.Raw(dots.ToString())
            </div>
        </div>
        <div class="slides">
            @Html.Raw(slides.ToString())
        </div>
    </div>
</div>