<!DOCTYPE html>

<html>
<head>


    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- foundation -->

    <link href="~/content/Foundation/foundation.min.css" rel="stylesheet" />
    <link href="~/content/Foundation/foundation.css" rel="stylesheet" />
    <link href="~/content/Foundation/app.css" rel="stylesheet" />

    <!--css-->
    <link href="~/content/styles/AdminStyles.css" rel="stylesheet"/>

    <!-- font awesome -->
    <link href="~/content/FontAwesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/FontAwesome/font-awesome.css" rel="stylesheet" />

</head>
<body>

    <div class="row collapse">

        <div class="large-12 medium-12 columns hide-for-small-only ">

            <nav>
                <div class="OrangeBorders">
                    <ul>
                        <li><a>Hjem</a></li>
                        <li><a>Produkter</a></li>
                        <li><a>Om os</a></li>
                        <li><a>Kontakt</a></li>
                    </ul>

                </div>

            </nav>

        </div>


        <div class="small-12 columns show-for-small-only ">
            <nav>

            </nav>
        </div>

    </div>

<div>
    @RenderBody()
</div>

</body>
</html>
