<!DOCTYPE html>

<html>
<head>


    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- foundation -->

    <link href="~/content/Foundation/foundation.min.css" rel="stylesheet" />
    <link href="~/content/Foundation/foundation.css" rel="stylesheet" />
    <link href="~/content/Foundation/app.css" rel="stylesheet" />

    <!--css-->
    <link href="~/content/styles/AdminStyles.css" rel="stylesheet"/>

    <!-- font awesome -->
    <link href="~/content/FontAwesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/FontAwesome/font-awesome.css" rel="stylesheet" />

</head>
<body>



<div>
    @RenderBody()
</div>

</body>
</html>
