<!DOCTYPE html>

<html>
<head>


    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- foundation -->

    <link href="~/content/Foundation/foundation.min.css" rel="stylesheet" />
    <link href="~/content/Foundation/foundation.css" rel="stylesheet" />
    <link href="~/content/Foundation/app.css" rel="stylesheet" />

    <!--css-->
    <link href="~/content/styles/AdminStyles.css" rel="stylesheet"/>



    <!-- font awesome -->

    <link href="~/content/FontAwesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/FontAwesome/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>

    <div class="row collapse">
        <div class="large-12 medium-12 columns hide-for-small-only headerBIG">
            <header>
                <img src="~/content/Images/Blandet/Layoutheader.jpg" width="100%" height="auto" />
            </header>
        </div>
        <div class="large-12 medium-12 columns show-for-small-only headerSMALL">
            <header>
                <img src="~/content/Images/Blandet/Layoutheader.jpg" width="100%" height="auto" />
            </header>
        </div>
    </div>
    <div class="row collapse">

        <div class="large-12 medium-12 columns hide-for-small-only ">

            <nav>
                <div class="OrangeBorders">
                    <ul>
                        <li><a href="/Admin/CMS/Kategorier/">Kategori</a></li>
                        <li><a href="/Admin/CMSPro/Index/">Produkter</a></li>
                        <li><a href="/Admin/Omos/Index/">Om os</a></li>
                        <li><a href="/Admin/Kontakt/Index/">Kontakt</a></li>
                    </ul>

                </div>

            </nav>

        </div>


        <div class="small-12 columns show-for-small-only ">
            <nav>

            </nav>
        </div>

    </div>
    <div class="row collapse content">
        @RenderBody()
    </div>
    <div class="row collapse">
        <div class="large-12 columns text-center">


            <footer>
                <div class="OrangeBorders text-left">
                    <span class="copyright">Copyright 2014 by NIKON experten</span>
                </div>
            </footer>
            <div class="afterfooter"></div>
        </div>
    </div>



</body>
</html>
